*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;

}

.fildariane{
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
}

.formulaire{
    display: flex;
    


}

.form-control{
    width: 500px;
    height: 40px;
    align-self: center;
    border: 2px solid black;
    
}

.form-label{
    width: 90px;
}

.identifiant{
    width: max-content;   
}

.identifiantEtPermissions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 40px 40px;
}